@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        background: ghostwhite;
    }
}

@layer components {
  input,
  textarea {
    border: none;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0.3);
  }
}